{#{% extends '_layouts/cp' %}#}

{% import "_includes/forms" as forms %}

{% set formActions = [
  {
    label: 'Save and continue editing'|t('app'),
    redirect: 'craft-playlister/playlists/{id}' | hash,
    retainScroll: true,
    shortcut: true,
  },
  {
    label: 'Save and add another'|t('app'),
    redirect: 'craft-playlister/playlists/new' | hash,
    shortcut: true,
    shift: true,
  }
] %}

{#{% block header %}#}
{#  {{ block('pageTitle') }}#}

{#  <div class="flex-grow"></div>#}
{#  <div class="flex-grow"></div>#}

{#  <a class="formsubmit btn" data-action="{{ 'playlister/playlist/start-job' }}" data-redirect="{{ '{cpEditUrl}' |hash }}">Run job</a>#}

{#  {{ block('actionButton') }}#}
{#{% endblock %}#}

{% block content %}
  {{ actionInput('craft-playlister/playlist/save') }}

  <div>
    {% if playlist.playlistId %}
        {{ forms.textField({
          label: 'Youtube Playlist ID',
          id: 'youtube-playlist-id',
          name: 'playlistId',
          value: playlist.playlistId,
          required: false,
          readonly: true,
          disabled: true,
          errors: playlist.getErrors('playlistId'),
        }) }}
    {% endif %}

    {{ forms.textField({
      label: 'Youtube Playlist URL',
      instructions: 'The playlist URL to import'|t('craft-playlister'),
      id: 'youtube-playlist',
      name: 'youtubeUrl',
      value: playlist.youtubeUrl,
      required: true,
      errors: playlist.getErrors('youtubeUrl'),
    }) }}

    {{ forms.textField({
      label: 'Playlist name'|t('craft-playlister'),
      instructions: 'The name of the playlist'|t('craft-playlister'),
      id: 'playlist-name',
      name: 'name',
      value: playlist.name,
      errors: playlist.getErrors('name'),
    }) }}

    {{ forms.selectField({
      label: 'Refresh interval'|t('craft-playlister'),
      id: 'playlist-refresh-interval',
      name: 'refreshInterval',
      value: playlist.refreshInterval,
      errors: playlist.getErrors('refreshInterval'),
      options: [
        {
          label: 'Every 5 minutes',
          value: 5
        },
        {
          label: 'Every 10 minutes',
          value: 10
        },
        {
          label: 'Every 15 minutes',
          value: 15
        }
      ]
    }) }}

    {{ forms.selectField({
      label: 'Limit'|t('craft-playlister'),
      id: 'playlist-video-limit',
      name: 'limit',
      value: playlist.limit,
      errors: playlist.getErrors('limit'),
      options: [
        {
          label: '50',
          value: 50
        },
        {
          label: '100',
          value: 100
        },
        {
          label: '150',
          value: 150
        },
         {
           label: 'all',
           value: 9999
         }
      ]
    }) }}
  </div>
{% endblock %}